<div>
  <p>Title：<%=@book.title %></p>
  <p>Opinion：<%= @book.body %></p>
  <p>画像：<%= image_tag @book.user.get_profile_image(100,100) %></p>
  <p>User：<%=@book.user.name %></p>
   <% if @book.user == current_user %>
    <%= link_to "destroy", book_path(@book), method: :delete %>
  <% end %>
</div>
